# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.env
.venv
venv/
ENV/

# =========================
# Airflow
# =========================
logs/
airflow.db
airflow.cfg
webserver_config.py

# Airflow compiled DAGs
dags/__pycache__/

# =========================
# Docker
# =========================
*.log
docker-compose.override.yml

# =========================
# OS / IDE
# =========================
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# =========================
# Data artifacts (ETL outputs)
# =========================
data/
tmp/
*.csv
*.parquet

# =========================
# Jupyter (если появятся)
# =========================
.ipynb_checkpoints/
